@import "../../../../theme/colors.scss";
@import "../../../../theme/variables.scss";

.container {
    width: 100%;
    display: flex;
    column-gap: 10px;
    flex-direction: row;
}

.calendarInput {
    min-width: 256px;
}

.searchInput {
    min-width: 264px;
}

.searchIcon {
    color: rgba($color: $color-gray-13, $alpha: 0.15);
}

.dropdownInput {
    min-width: 170px;
}

@media (max-width: 890px) {
    .container {
        flex-wrap: wrap;
    }
}

@media (max-width: 1366px) {
    .searchInput .calendarInput {
        max-width: 230px;
    }

    .dropdownInput {
        min-width: 120px;
    }
}
