.loadingWrapper {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: white;
    pointer-events: none;
    position: relative;
}

.spinner {
    transform: translate(50%, -50%);
}

.spinnerContainer {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;

    width: 100%;
    padding-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
