.container {
    margin: 12px 8px;
}

.contentContainer {
    margin: 11px 25px 0px 25px;
}

.headerContent {
    display: flex;
    justify-content: space-between;
}

.buttonDelete {
    margin-top: 16px;
}

.actionButton {
    display: flex;
}
