@import "../../../../theme/colors.scss";
@import "../../../../theme/variables.scss";

.container {
    width: 100%;
    display: flex;
    column-gap: 14px;
}

.amountInput {
    width: 138px;
}

.idInput {
    width: 110px;
}

.dateInput {
    min-width: 155px;
}

.statusInput {
    min-width: 120px;
}

.searchIcon {
    color: rgba($color: $color-gray-13, $alpha: 0.15);
}

@media (max-width: 1287px) {
    .container {
        flex-wrap: wrap;
    }
}
