@import "../../../../theme/colors.scss";
@import "../../../../theme/variables.scss";

.modalSize {
    min-width: 900px;
}

.columnContainer {
    display: flex;
    column-gap: 10px;
    margin-right: 23px;
    justify-content: space-between;
}
.columnInputContainer {
    display: flex;
    width: 350px;
    column-gap: 20px;
    margin-top: 18.5px;
    flex-direction: row;
}

.sectionTitle {
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 24px;
    font-size: $medium-font;
    color: rgba($color: $color-gray-13, $alpha: 0.85);
}

.modalTitle {
    font-weight: 700;
    line-height: 24px;
    font-size: $large-font;
}

.columns {
    display: flex;
    flex-direction: column;
}

.leftColumn {
    @extend .columns;
    width: 60%;
    flex-wrap: nowrap;
    align-items: flex-end; 
}

.rightColumn {
    @extend .columns;
    width: 40%;
    align-items: flex-start; 
}

.listText {
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
    color: $color-gray-7;
    font-size: $medium-font;
}

.darkText {
    @extend .listText; 
    color: $color-gray-13;
}

.inputNumber {
    width: 142px;
    margin-top: -6px;
}
